:root,
body {
  @apply bg-warm-gray-100;
  font-size: 16px;
  line-height: normal;
  font-family: 'Roboto Slab', serif;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.j-link {
  @apply text-lime-600 relative break-all;

  &::before {
    display: block;
    content: '';
    position: absolute;
    @apply inset-0;
  }
}

.body-noscroll {
  overflow: hidden;

  @media (min-width: 768px) {
    padding-right: 15px;
  }
}
